<mat-toolbar color="primary">
  <span>Gigs Of Note</span>
</mat-toolbar>
<div
  *ngIf="profileForm"
  style="margin-top: 15px; padding-left: 15px; padding-right: 15px"
>
  <form
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
    class="needs-validation"
    novalidate
    style="width: 100%"
  >
    <!-- Angular Bug ??? formControlName="date" throws an error on datepicker popup -->
    <!-- <div class="form-group">
      <label for="date">Event Date</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
          name="dp" [formControl]="profileForm.controls['date']" ngbDatepicker
          #d="ngbDatepicker">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar"
            (click)="d.toggle()"
            type="button"></button>
        </div>
      </div>
      <div
        *ngIf="
          profileForm.get('date')!.invalid &&
          (profileForm.get('date')!.dirty || profileForm.get('date')!.touched)
        "
        class="alert alert-danger"
      >
        Please choose an Event Date.
      </div>
    </div> -->

    <mat-form-field>
      <mat-label>Event Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="date"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <div
        *ngIf="
          profileForm.get('date')!.invalid &&
          (profileForm.get('date')!.dirty || profileForm.get('date')!.touched)
        "
        class="alert alert-danger"
      >
        Please choose an Event Date.
      </div>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Venue</mat-label>
      <input
        matInput
        formControlName="venue"
        type="text"
        class="form-control"
        id="venue"
        aria-describedby="venueHelp"
        required
      />
      <div
        *ngIf="
          profileForm.get('venue')!.invalid &&
          (profileForm.get('venue')!.dirty || profileForm.get('venue')!.touched)
        "
      >
        Please choose a Venue.
      </div>
    </mat-form-field>

    <div formArrayName="artists" class="clearfix">
      <div *ngFor="let artist of artists.controls; let i = index">
        <div class="form-group" [formGroupName]="i">
          <mat-form-field style="width: 100%">
            <mat-label>Artist Name {{ i + 1 }}</mat-label>
            <input
              matInput
              formControlName="name"
              type="text"
              class="form-control"
              id="artistName"
              aria-describedby="artistNameHelp"
              required
            />
            <div
              *ngIf="
                artist.get('name')!.invalid &&
                (artist.get('name')!.dirty || artist.get('name')!.touched)
              "
            >
              Please choose an Artist Name.
            </div>
          </mat-form-field>
        </div>
      </div>

      <button mat-raised-button type="button" (click)="addArtist()">
        Add Artist
      </button>
    </div>

    <div>
      <hr />
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        type="button"
        [ngStyle]="{
          cursor: profileForm.valid ? 'pointer' : 'not-allowed',
          margin: '5px'
        }"
        (click)="submitShow()"
        [disabled]="!profileForm.valid"
      >
        OK
      </button>

      <button
        mat-raised-button
        color="accent"
        type="button"
        style="margin: 5px"
        (click)="cancelUpdateShow()"
      >
        Cancel
      </button>
    </div>

    <br />

    <mat-form-field style="width: 100%">
      <mat-label>Notes</mat-label>
      <input
        matInput
        formControlName="notes"
        type="text"
        class="form-control"
        id="notes"
        aria-describedby="notesHelp"
      />
      <div
        *ngIf="
          profileForm.get('notes')!.invalid &&
          (profileForm.get('notes')!.dirty || profileForm.get('notes')!.touched)
        "
      >
        Please add some notes.
      </div>
    </mat-form-field>

    <br />

    <mat-form-field style="width: 100%">
      <mat-label>Price</mat-label>
      <input
        matInput
        formControlName="priceText"
        type="text"
        id="priceText"
        aria-describedby="priceTextHelp"
      />
      <div
        *ngIf="
          profileForm.get('priceText')!.invalid &&
          (profileForm.get('priceText')!.dirty ||
            profileForm.get('priceText')!.touched)
        "
      >
        Please add price details.
      </div>
    </mat-form-field>

    <br />

    <mat-checkbox
      id="isSoldOutCheckBox"
      formControlName="isSoldOut"
      style="margin-left: 15px"
    >
      Sold Out?
    </mat-checkbox>

    <mat-checkbox
      id="isCancelledCheckBox"
      formControlName="isCancelled"
      style="margin-left: 15px"
    >
      Cancelled?
    </mat-checkbox>

    <div>
      <hr />
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        type="button"
        [ngStyle]="{
          cursor: profileForm.valid ? 'pointer' : 'not-allowed',
          margin: '5px'
        }"
        (click)="submitShow()"
        [disabled]="!profileForm.valid"
      >
        OK
      </button>

      <button
        mat-raised-button
        color="accent"
        type="button"
        style="margin: 5px"
        (click)="cancelUpdateShow()"
      >
        Cancel
      </button>
    </div>

    <br />
    <br />

    <pre>{{ profileForm.value | json }}</pre>
  </form>

  <div>
    <div *ngIf="isUpdating">Updating...</div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </div>
</div>
